In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as sc
from statsmodels.stats import weightstats as stests

In [2]:
dataset=pd.read_csv(r'C:\Users\rohin\OneDrive\Desktop\Datasets\Medical Cost.csv')

In [3]:
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
sample_data=dataset.sample(n=100)

In [5]:
sample_data

      age     sex     bmi  children smoker     region      charges
605    51  female  34.100         0     no  southeast   9283.56200
910    22    male  28.310         1     no  northwest   2639.04290
421    61    male  35.860         0    yes  southeast  46599.10840
158    30    male  35.530         0    yes  southeast  36950.25670
1081   32    male  27.835         1     no  northwest   4454.40265
...   ...     ...     ...       ...    ...        ...          ...
575    58  female  27.170         0     no  northwest  12222.89830
1041   18    male  23.085         0     no  northeast   1704.70015
331    52    male  27.360         0    yes  northwest  24393.62240
1067   39    male  42.655         0     no  northeast   5757.41345
1072   21    male  31.255         0     no  northwest   1909.52745

[100 rows x 7 columns]

# 1)Does the sex variable show any effect on smoker variable

Since the sex and smoker are the categorical datssets, we will perform chi sqaure test

# Chi square test

1.Null Hypothesis: Gender has no effect on smoking habits

2.Alternate Hypothesis:Gender has an effect on smoking habits

In [6]:
pd.crosstab(sample_data["sex"],sample_data["smoker"])

smoker  no  yes
sex
female  41    8
male    40   11

In [7]:
observed_values=pd.crosstab(sample_data["sex"],sample_data["smoker"]).values

In [8]:
#converting it into numpy arrays
observed_values

array([[41,  8],
       [40, 11]], dtype=int64)

In [9]:
#to perform the chi squared test
chi_cal,p,dof,expected_values=sc.chi2_contingency(observed_values)

In [10]:
chi_cal,p,dof,expected_values

(0.1705945536109184,
 0.6795839487928452,
 1,
 array([[39.69,  9.31],
        [41.31,  9.69]]))

In [11]:
chi_cal

0.1705945536109184

In [12]:
p_est=0.05

In [13]:
tab_chi=3.84

In [14]:
if(chi_cal<tab_chi):
    print("Accept the null hypothesis")
else:
    print("Reject the null hypothesis")

Accept the null hypothesis

Hereby, we conclude that the gender has no effect on smoking  habits

# 2)Does the Region variable show any effect on the charges

Region is a categorical data and the charges are numerical data, so hereby we conduct Anova test to predict the relationship

# Anova test

Null hypothesis: no relationship b/w Region and Charges

Alternate hypothesis: relations hip b/w Region and Charges

In [15]:
se_charges=sample_data[sample_data["region"]=='southeast']['charges']

In [16]:
sw_charges=sample_data[sample_data["region"]=='southwest']['charges']

In [17]:
ne_charges=sample_data[sample_data["region"]=='northeast']['charges']

In [18]:
nw_charges=sample_data[sample_data["region"]=='northwest']['charges']

In [19]:
se_charges,sw_charges,ne_charges,nw_charges

(605      9283.56200
 421     46599.10840
 158     36950.25670
 97      10226.28420
 383      5846.91760
 784      4350.51440
 1078    34672.14720
 1161     5124.18870
 585      4779.60230
 49      38709.17600
 655     24667.41900
 736     40419.01910
 970     10702.64240
 928     13470.80440
 239      7152.67140
 661     22192.43711
 68       5920.10410
 1323    43896.37630
 270      1719.43630
 542     13887.20400
 77       1532.46970
 1090    41676.08110
 1222     8442.66700
 184      7731.42710
 903      8125.78450
 425      9788.86590
 469      2201.09710
 Name: charges, dtype: float64,
 996      7418.52200
 1303    37829.72420
 830     13393.75600
 175     48824.45000
 12       1826.84300
 187      5325.65100
 253      4260.74400
 373     36085.21900
 210      1980.07000
 490      1748.77400
 680      2585.26900
 992     10118.42400
 260     11837.16000
 277      2150.46900
 45      20630.28351
 1065     7045.49900
 836      4402.23300
 1128    14358.36437
 Name: charges, dtype: float64,
 427      7323.734819
 894     13555.004900
 853     11729.679500
 522      9866.304850
 995      7986.475250
 983     16796.411940
 1006     4438.263400
 1318    19496.719170
 422     39125.332250
 141      3490.549100
 917     35069.374520
 936     32108.662820
 282      4237.126550
 754     17128.426080
 319      4667.607650
 713      1984.453300
 671      3943.595400
 647      8252.284300
 1124    40904.199500
 1229    11938.255950
 740      8604.483650
 1042    33475.817150
 1041     1704.700150
 1067     5757.413450
 Name: charges, dtype: float64,
 910      2639.04290
 1081     4454.40265
 419     28950.46920
 599     33471.97189
 1145    11289.10925
 447     11454.02150
 1298     5261.46945
 565      2128.43105
 124     10115.00885
 916     21774.32215
 51       3579.82870
 88       8026.66660
 1324     4239.89265
 769      6933.24225
 378     16455.70785
 952      4527.18295
 1055    10594.50155
 607     25678.77845
 1153     5630.45785
 1279     4189.11310
 457     11840.77505
 54       8059.67910
 806     28476.73499
 779      9869.81020
 831      5266.36560
 1059     4462.72180
 726      6664.68595
 646      6123.56880
 575     12222.89830
 331     24393.62240
 1072     1909.52745
 Name: charges, dtype: float64)

In [20]:
#To perform the Anova Test, we're using f_oneway

f_cal,p=sc.f_oneway(se_charges,sw_charges,ne_charges,nw_charges)

In [21]:
f_cal

1.151910902275218

In [22]:
#df between the groups
dfb=4-1

In [23]:
#df within the groups
dfw=100-4

In [24]:
#from the graph
f_tab=2.70

In [25]:
p

0.3322835830460342

In [26]:
if(f_cal<f_tab):
    print("accept the null hypothesis")
else:
    print("reject the null hypothesis")

accept the null hypothesis

According to Anova Test, we significantly conclude that there is no relation between charges and regions

# 3)Does age and Bmi are effecting the increasing/decreasing of charges

In [27]:
ztest,p=stests.ztest(sample_data['age'],x2=sample_data['charges'],value=0,alternative='two-sided')

In [28]:
print(float(p))

1.8836769960247183e-27

In [29]:
if p<0.05:
    print("age doesn't effect the charges")
else:
    print("age effect the charges")

age doesn't effect the charges

In [30]:
ztest,pval=stests.ztest(sample_data['bmi'],x2=sample_data['charges'],value=0,alternative='two-sided')

D:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [31]:
print(float(pval))

nan

In [32]:
if pval<0.05:
    print("bmi doesn't effect the charges")
else:
    print("bmi effect the charges")

bmi effect the charges

Age and bmi doesn't effect the charges

# SUMMARY(Inferential statitics)

1) Through Chi-square test, we can conclude that the gender has no effect on smoking habits.

2)Through Anova test, we can significantly conclude that there is no relation between charges and regions.

3)Through Two sample Z test, we can conclude that the Age And BMI aren't effecting the charges.